body{
    margin:0 auto; 
   // width: 1024px;
    //background-color: #2e6da4;
    background-image: url(/img/bg.jpg) ;
}
#topo {
    display: inline;
    width: 99.9%;
    float: left;
    border-width: thin;
    border-style: solid;
    border-color: #000000;
    color: #0000C2
}


#menu{
    display: inline;
    width: 99.9%;
    float: left;
    height: 50px;
  //  width: 1024px;
    background-color: #999;
    border-width: thin;
    border-style: solid;
    border-color: #000000;
}
#menu ul{
    list-style: none;
}
#menu li{
    float: left;
    padding: 5px;
}

#corpo {
    display: inline;
    width: 84.7%;
    float: left;
     border-width: thin;
    border-style: solid;
    border-color: #000000;
    color: #35DAFA;
}
#botoes{
    display: inline;
    width: 84.7%;
    float: left;
    border-width: thin;
    border-style: solid;
    border-color: #000000;
    color: #C40D0D;
}
#rodape{
    display: inline;
    width: 100%;
    float: left;
    border-width: thin;
    border-style: solid;
    border-color: #000000;
}